.img {
  border-radius: 20px;
  min-height: 500px;
  min-width: 500px;
}
.Placeholder {
  display: flex;
  gap: 7%;
}
.propsDetails {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.description {
  font-size: 18px;
  max-width: 400px;
}
.name_tokenid {
  font-size: 30px;
  font-weight: 900;
  max-width: 400px;
}
.name {
  font-size: 21px;
  font-weight: 900;
  max-width: 400px;
}

.ownerheading {
  display: flex;
  flex-direction: column;

  &Details {
    display: flex;
    flex-direction: column;
  }
}
.Blockie {
  border-radius: 50%;
}
.textOwner {
  font-size: 19px;
}
.text {
  margin: 2px;
  font-size: 20px;
}
.traits {
  width: 500px;
  background-color: #1d1d21;
  border-radius: 20px;
  padding: 20px;
  font-size: 25px;

  &extra {
    font-size: 20px;
    cursor: pointer;
  }
}
.Fix {
  display: flex;
  align-items: center;
  gap: 1em;
}
.AddIcons {
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 0.7em;
}
