.App {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(circle, #8860cf, #5480e9, #5bb8eb, #84ceeb);
  /*linear-gradient(to right, #44318d, #8165a6, #160f1f);
  /* background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  ); */
}
